@import "variables";
@import "mixins";
@import "utilty";

@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

body {
}
.cv-template {
  margin: auto;
  display: flex;
  width: 922px;
  aspect-ratio: 2480 / 3508;
  background-color: gray;
  transform-origin: top left;
  .box {
    aspect-ratio: 1/1;
    background-color: rgb(53, 46, 148);
    border-radius: 7px;
  }
}
